<!DOCTYPE html>
<html>
<head>
<title>CloudSarao</title>
</head>
<body>
	<h1>CloudSarao</h1>
	<p>Administración de los lugares existentes:</p>

	{% for item in lugares %}
		<div class="lugar">
			<h1> {{ item.nombre }} </h1><br>
			<div class="calle">Calle: {{ item.calle }}</div><br>
			<div class="cod_postal">Código postal: {{ item.cod_postal }}</div><br>
		</div>
		<form role="form" method="post">
          		<input type="text" class="form-control" name="key" id="key" value="{{ item.key() }}" hidden required><br>
          		<input type="text" class="form-control" name="metodo" value="modificar" hidden required><br>
	       		<button type="submit" class="btn btn-primary">Modificar</button>
		</form>
		<form role="form" method="post">
          		<input type="text" class="form-control" name="key" id="key" value="{{ item.key() }}" hidden required><br>
          		<input type="text" class="form-control" name="metodo" value="eliminar" hidden required><br>
	       		<button type="submit" class="btn btn-primary">Eliminar</button>
		</form>
		<br><br>
	{% endfor %}
</body>
</html>
