<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Información del Sarao</title>
	<!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<!-- Custom CSS -->
	<link href="css/freelancer.css" rel="stylesheet">
	<!-- Custom Fonts -->
	<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
	<script src="../js/jquery.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">

	<script>
		$(function(){
			$('input').filter('.datepick').datepicker({ dateFormat: 'dd/mm/yy' });
		});
	</script>

	<style type="text/css">
		.obligatorio {
			color: red;
		}
		.aclaracion {
			color: blue;
			font-weight: lighter;
			font-style: italic;
			font-size: small;
		}
	</style>
</head>
<body>
	<!-- ---------------------------------------- -->
	<!-- Barra del de navegación -->
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">CloudSarao</a>
			</div>

			<!-- Colección de links de navegación, forms, y otros contenidos conmutables -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="page-scroll"><a href="/administracion"><img src="img/settings.png"></a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<!-- Fin de barra de navegación. -->
	<!-- ---------------------------------------- -->
<br><br><br><br><br><br>
<div class="container">
	<h1>Información del sarao {{ sarao.nombre }}</h1>

		<label>Fecha del evento:</label> {{sarao.fecha.day}}/{{sarao.fecha.month}}/{{sarao.fecha.year}} {% if sarao.hora != None %} a las {{ sarao.hora.hour}}:{{sarao.hora.minute}} {% endif %}<br>
		<label>Fecha límite de inscripción al evento:</label> {{sarao.limite_inscripcion.day}}/{{sarao.limite_inscripcion.month}}/{{sarao.limite_inscripcion.year}}<br>
		<label>Plazas disponibles:</label> {{ sarao.plazas_disponibles }}<br>
		<label>Lugar del transcurso del evento:</label> {{ sarao.lugar.nombre }}, Dirección: {{ sarao.lugar.calle }}, CP: {{ sarao.lugar.cod_postal }} <br>
		{% if sarao.organizacion != '' %}
		<label>Organización:</label><p> {{ sarao.organizacion }} </p>
		{% endif %}
		{% if sarao.descripcion != '' %}
		<label>Descripcion:</label><p> {{ sarao.descripcion }} </p>
		{% endif %}
		{% if sarao.nota != '' %}
		<label>Nota:</label><p> {{ sarao.nota }} </p>
		{% endif %}
		{% if sarao.url != '' %}
		<button title="Más información en: '{{ sarao.url }}'" class="btn btn-primary" onclick="location.href='{{ sarao.url }}'" > 
		<span class="glyphicon glyphicon-link" aria-hidden="true"></span>
		</button>&nbsp
		{% endif %}
		<button title="Apuntarse al sarao" onClick="location.href='/nuevoasistente?s={{ sarao.key() }}'" class="btn btn-primary">
		<span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
		</button>
		<br>
</div>
<br><br>
</body>
</html>
