<!doctype html>
<html lang="en">
<head>
  <title>Nuevo lugar</title>
</head>
<body>

  <h1>Crear un nuevo lugar</h1>
  <p>Introduzca los siguientes campos para la creación de un nuevo lugar</p>

  <p class="obligatorio"> *Obligatorio</p>

  <form role="form" method="post" action="/nuevolugar">

    <div class="form-group">
      <label for="nombre">Nombre del lugar<span class="obligatorio"> *</span>:</label> <br>
      <input type="text" class="form-control" name="lugar" id="lugar" placeholder="Nombre"><br><br>
    </div>


    <div class="form-group">
      <label for="calle">Calle<span class="obligatorio"> *</span>:</label> <br>
      <input type="text" class="form-control" name="calle" id="calle" placeholder="Nombre de la calle"><br><br>
    </div>

    <div class="form-group">
      <label for="cod_postal">Código postal<span class="obligatorio"> *</span>:</label> <br>
      <input type="text" class="form-control" name="cod_postal" id="cod_postal" placeholder="Código postal"><br><br>
    </div>

  <button type="submit" class="btn btn-primary">Enviar</button>


</body>
</html>
