<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Modificar Sarao</title>
	<!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
	<link href="../css/bootstrap.css" rel="stylesheet">
	<!-- Custom CSS -->
	<link href="../css/freelancer.css" rel="stylesheet">
	<!-- Custom Fonts -->
	<link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet"
	type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700"
	rel="stylesheet" type="text/css">
	<link
	href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
	rel="stylesheet" type="text/css">
	<style type="text/css">
		.obligatorio {
			color: red;
		}
		.aclaracion {
			color: blue;
			font-weight: lighter;
			font-style: italic;
			font-size: small;
		}
	</style>
</head>
    <body>
	<!-- ---------------------------------------- -->
	<!-- Barra del de navegación -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="http://cloud-sarao.appspot.com/">CloudSarao</a>
			</div>

			<!-- Colección de links de navegación, forms, y otros contenidos conmutables -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="page-scroll"><a href="http://cloud-sarao.appspot.com/administracion">Saraos</a></li>
					<li class="page-scroll"><a href="http://cloud-sarao.appspot.com/adminlugares">Lugares</a></li>
					<li class="page-scroll"><a href="http://cloud-sarao.appspot.com/administracion">Cerrar sesión</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<!-- Fin de barra de navegación. -->
	<!-- ---------------------------------------- -->
	<br><br><br><br><br><br>
	<div class="container">
		<h1>Modificar el sarao: {{ sarao.nombre }}</h1>
		<p>Modifique los campos necesarios, no toque aquellos que desee mantener:</p>

		<p class="obligatorio"> *Obligatorio</p>

		<form role="form" method="post">
			<div class="form-group">
				<label for="nombre">Nombre<span class="obligatorio"> *</span>:</label> <br>
				<input type="text" class="form-control" name="nombre" id="nombre" value="{{ nombre }}" required><br><br>
			</div>

			<div class="form-group">
			  <label for="fecha">Fecha</label> <span class="obligatorio"> *</span>:</label> <input type="text" class="form-control datepick" name="fecha" value="{{ fecha }}" required><br>
			</div>

			<div class="form-group">
			  <label for="hora">Hora:</label> <input type="number" class="form-control-number" name="hora" id="hora" min="0" max="23" value="{{ hora }}">:<input type="number" class="form-control-number" name="minutos" id="minutos" min="0" max="59" value="{{ minutos }}"><br>
			  <span class="aclaracion">Formato 24 horas. Por ejemplo, 20:15</span><br><br>
			</div>

			<div class="form-group">
			  <label for="lugar">Lugar del evento<span class="obligatorio"> *</span>:</label> <br>
			  <select class="form-control" name="lugar" required>
			    <option value="{{ lugar }}" selected> {{ lugar }}</option>
			    {% for item in lugares %}
			    {% if lugar.Key != item.Key %}<option value="{{ item.Key }}"> {{ item.nombre }}</option> {% endif %}
			    {% endfor %}
			  </select>
			</div>

			<div class="form-group">
				<label for="max_asistentes">Número máximo de asistentes<span class="obligatorio"> *</span>:</label> <br>
				<input type="number" class="form-control" name="max_asistentes" id="max_asistentes" value="{{max_asistentes}}" min="0" required><br><br>
			</div>

			<div class="form-group">
				<label for="url">URL del sarao<span class="obligatorio"> *</span>:</label> <br>
				<input type="url" class="form-control" name="url" id="url" value="{{url}}"><br><br>
			</div>

			<div class="form-group">
				<label for="organizacion">Organización:</label><br>
				<span class="aclaracion">Encargado de la organización del Sarao</span><br>
				<input type="text" class="form-control" name="organizacion" id="organizacion" value="{{organizacion}}"><br><br>
			</div>

			<div class="form-group">
				<label for="nota">Nota:</label><br>
				<span class="aclaracion">Aclaración sobre el evento.</span><br>
				<input type="text" class="form-control" name="nota" id="nota" value="{{nota}}"><br><br>
			</div>

			<div class="form-group">
				<label for="descripcion">Descripción:</label><br>
				<span class="aclaracion">Asunto del evento.</span><br>
				<input type="text" class="form-control" name="descripcion" id="descripcion" value="{{descripcion}}"><br><br>
			</div>

			<div class="form-group">
			  <label for="fecha_limite">Fecha límite de inscripción:</label>
			  <input type="text" class="form-control datepick" name="fecha_limite" required value="{{ fecha_limite }}"></p></p>
			</div>

			<div class="form-group">
			  <input type="text" class="hidden" name="id_sarao" id="id_sarao" value="{{ id_sarao }}" hidden required><br><br>
			</div>

			<button type="submit" class="btn btn-primary">Enviar</button>
		</form>

	</div>
<br><br>
    </body>
</html>
