<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Modificar lugar</title>
  <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="../css/freelancer.css" rel="stylesheet">
  <!-- Custom Fonts -->
  <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet"
  type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700"
  rel="stylesheet" type="text/css">
  <link
  href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
  rel="stylesheet" type="text/css">
  <style type="text/css">
    .obligatorio {
      color: red;
    }
    .aclaracion {
      color: blue;
      font-weight: lighter;
      font-style: italic;
      font-size: small;
    }
  </style>
</head>
<body>
  <!-- ---------------------------------------- -->
  <!-- Barra del de navegación -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> <span
        class="icon-bar"></span> <span class="icon-bar"></span> <span
        class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://cloud-sarao.appspot.com/">CloudSarao</a>
    </div>

    <!-- Colección de links de navegación, forms, y otros contenidos conmutables -->
    <div class="collapse navbar-collapse"
    id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li class="page-scroll"><a href="http://cloud-sarao.appspot.com/administracion">Saraos</a></li>
      <li class="page-scroll"><a href="http://cloud-sarao.appspot.com/adminlugares">Lugares</a></li>
      <li class="page-scroll"><a href="http://cloud-sarao.appspot.com/administracion">Cerrar sesión</a></li>
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</div>
<!-- /.container-fluid -->
</nav>
<!-- Fin de barra de navegación. -->
<!-- ---------------------------------------- -->

<br><br><br><br><br><br>
<div class="container">
  <h1>Modificar el lugar: {{ nombre }}</h1>
  <p>Modifique los campos necesarios, no toque aquellos que desee mantener:</p>

  <p class="obligatorio"> *Obligatorio</p>

  <form role="form" method="post">

    <div class="form-group">
      <label for="nombre">Nombre del lugar<span class="obligatorio"> *</span>:</label> <br>
      <input type="text" class="form-control" name="nombre" id="nombre" value="{{ nombre }}" required>
    </div>


    <div class="form-group">
      <label for="calle">Calle<span class="obligatorio"> *</span>:</label> <br>
      <input type="text" class="form-control" name="calle" id="calle" value="{{ calle }}" required>
    </div>

    <div class="form-group">
      <label for="cod_postal">Código postal<span class="obligatorio"> *</span>:</label> <br>
      <input type="text" class="form-control" name="cod_postal" id="cod_postal" value="{{ cod_postal }}" required>
    </div>

    <div class="form-group">
      <input type="text" class="hidden" name="id_lugar" id="id_lugar" value="{{ id_lugar }}" hidden required>
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>
<br><br>


</body>
</html>
