<!doctype html>
<html lang="en">
<head>
  <title>Modificar lugar</title>
</head>
<body>

  <h1>Modificar el lugar: {{ nombre }}</h1>
  <p>Modifique los campos necesarios, no toque aquellos que desee mantener:</p>

  <p class="obligatorio"> *Obligatorio</p>

  <form role="form" method="post">

    <div class="form-group">
      <label for="nombre">Nombre del lugar<span class="obligatorio"> *</span>:</label> <br>
      <input type="text" class="form-control" name="nombre" id="nombre" value="{{ nombre }}" required><br><br>
    </div>


    <div class="form-group">
      <label for="calle">Calle<span class="obligatorio"> *</span>:</label> <br>
      <input type="text" class="form-control" name="calle" id="calle" value="{{ calle }}" required><br><br>
    </div>

    <div class="form-group">
      <label for="cod_postal">Código postal:</label> <br>
      <input type="text" class="form-control" name="cod_postal" id="cod_postal" value="{{ cod_postal }}" required><br><br>
    </div>

    <div class="form-group">
      <input type="text" class="form-control" name="id_lugar" id="id_lugar" value="{{ id_lugar }}" hidden required><br><br>
    </div>

  <button type="submit" class="btn btn-primary">Enviar</button>
</form>


</body>
</html>
