<!DOCTYPE html>
<html>
<head>
<title>CloudSarao</title>
</head>
<body>
	<h1>CloudSarao</h1>
	<p>Apuntate a los saraos!</p>


	{% for item in saraos %}

		<div class="sarao">
			<h1> {{ item.nombre }} </h1><br>
			<div class="fecha_hora">Fecha del evento: {{ item.fecha }} {% if item.hora != None %} - {{ item.hora }} {% endif %}</div><br>
			<div class="plazas_libres">Plazas disponibles: {{ item.plazas_libres }}</div><br>
			<div class="nombre_lugar">Lugar del transcurso del evento:{{ item.lugar.nombre }}</div><br>
			<a href="{{ item.url }}" > +info </a>
		</div>

		<form role="form" method="post" >
          		<input type="text" class="form-control" name="key" id="key" value="{{ item.key() }}" hidden required><br>
	       		<button type="submit" class="btn btn-primary">Apuntarse</button>
		</form>
		<br><br>
	{% endfor %}
</body>
</html>
